@import "./variable.styl";

.icon-cls
  font-weight: bold
  width: 20px
  font-size: 18px

.ivu-btn-text:hover
  background-color: rgba(255, 255, 255, .2) !important;

.bg-content
  background-color: #f0f0f0
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)

.vertical-center-modal
  display: flex
  justify-content: center
  align-items: center
  .ivu-modal
    top: 0

.ivu-drawer-body
  padding: 0

.light
  .ivu-drawer-header
    border-bottom: 1px solid #363e4f
.dark
  .ivu-drawer-header
    background: #515a6e
    border-bottom: 1px solid #e2e2e2
    .ivu-drawer-header-inner
      color: #eee
